{% extends "diary/base.html" %}

{% block content %}
<h1>日記一覧</h1>
<table class="table">
    <thread>
        <tr>
            <th>タイトル</th>
            <th>日付</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thread>
    <tbody>
        {% for day in day_list %}
        <tr>
            <td><a href="{% url 'diary:detail' day.pk %}">{{ day.title }}</td>
            <td>{{ day.date }}</td>
            <td><a href='{% url "diary:update" day.pk %}'>更新</a></td>
            <td><a href='{% url "diary:delete" day.pk %}'>削除</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

